# Artifacts
dist
*.swp
package-lock.json
__pycache__
.pytest_cache
.env
.venv
venv
*.egg-info
.idea
.vscode
.python-version
.run
.git
poetry.lock

# CDK asset staging directory
.cdk.staging
cdk.out

# Developer variables
.cdk-set-acct-variables.sh

# Developer apps
app_*dev.py
